.block_content {
    padding-top: 100px;
    padding-bottom: 50px;
    .block_detail_right {
        margin-top: 70px;
        &_author {
            @extend .author;
            font-style: italic;
            font-weight: 400px;
        }
        &_title {
            @extend .title;
            font-size: 48px;
            line-height: normal;
        }
    }
}

.our-service {
    padding-top: 120px;
    padding-bottom: 120px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-y;
}

.count_item {
    background-attachment: fixed;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 50px;
    .icon-count {
        @include set-font(48px, white, normal);
    }
    &_quantity {
        @include set-font(48px, white, 40px);
        font-weight: 300;
    }
    &_name {
        font-family: 'Lora', serif;
        font-weight: 400;
        @include set-font(18px, white, 40px);
        font-style: italic;
        text-transform: uppercase;
    }
}

.our_portfolio {
    @include flex-center();
}